configuration {
  /* font: "NKDuy Mono Bold 8.3"; */
  /* font: "Intel One Mono Medium 8.3"; */
  font: "Cartograph CF 8.3";
  /* font: "Lotion ExtraBold 10.7"; */
  /* font: "Sono SemiBold 8.3"; */

  display-drun: "";
  display-emoji: "";
  drun-display-format: "{icon} {name}";

  show-icons: true;
}

@theme "theme"
