// Global
$border-radius: 0px;
$border-width: 0px;

$x-padding: 7px;
$y-padding: 7px;

// Bar
$bar-border-radius: 0px;

$box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);
// $box-shadow: 0px 4px 0px 0px #1e1e21;

